/* 설정 초기화, 이미지 설정 등 */

@font-face {
    font-family : '배달의민족주아';
    src : url(/MyPortfolio/BMJUA_ttf.ttf) format('truetype')
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
    font-family : '배달의민족주아';
}

#img{
    background-color: #E0E1E8;
}

/* 상단 헤더 */

#header{
    width: 100%;
    padding: 5px 10px;
    background-color: #172C51;
}

#menuIndex{
    text-align: center;
    margin: 20px 0 0 0;
    z-index: 999;
}

#menuIndex a{
    color:#E0E1E8;
    text-decoration-line: none;
    font-size: 25px;
}

#menuIndex:hover{
    transform: scale(120%);
}

#menu{
    text-align: center;
    margin: 20px 0 0 0;
    z-index: 999;
}

#menu li{
    display: inline-block;
    padding: 10px 24px;
}

#menu li a{
    color: #E0E1E8;
    text-decoration-line: none;
    font-size: 25px;
}

#menu li:hover{
    transform: scale(120%);
}

/* 메인 컨텐츠 */

.contents{
    width: 100%;
    height: 300px;
    margin-top: 100px;

    display: flex;
    align-items: center;
    justify-content: space-around; 
}

.introImg{
    width: 30%;
    height: auto;
    padding: 8px 8px;

    display: flex;
    align-items: center;
    flex-direction: column;
}

.introImg img{
    width: 220px;
    height: 220px;
    border-radius: 5px;
    margin-bottom: 40px;
    object-fit: cover;
}

.titleP{
    width: 100%;
    color: #172C51;
    font-size: 22px;
    line-height: 30px;
    text-align: center;

}

/* 하단 푸터 */

#footer{
    height: auto;
    padding: 5px 5px;
    background-color: #172C51;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center; 
}

#footer p{
    font-size: 16px;
    color: #E0E1E8;
}
